<div class="col-md-4"></div>
<div class='col-md-4'>
  <div class="center user-form">
    <h1> Sign Up </h1>
    <%= render "form" %>
  </div>s
  <%= render "layouts/errors", :object => @user %>
</div>

